.card {
  min-height: 400px;
}

.card-body h1 {
  font-weight: bold;
  font-size: 1.7rem;
  margin-top: 1px;
}

.font-highlight {
  font-style: italic;
  color: #1e8eff;
}

.card-img-wrapper {
  overflow: hidden;
  position: relative;
}
.card-img-wrapper:hover .member-icons {
  bottom: 0;
  opacity: 1;
}

.animate{
  transition: all 0.3s ease-in-out;
}
.card:hover img {
  transform: scale(1.2, 1.2);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  /* height: 220px; */
  opacity: .7;
}
.card img {
  transform: scale(1,1);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}

.member-icons {
  position: absolute;
  bottom: -10%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
}

