<div class="input-group mb-3">
<!-- <label>Filter City:</label> -->
<input placeholder="Filter City" type="text" [(ngModel)]='City'>
<div class="input-group-append">
<button type="button" class="btn btn-outline-primary" (click)="onCityFilter()">Search</button>
<button type="button" class="btn btn-outline-primary" (click)="onCityFilterClear()">Clear</button>
</div>

<div class="input-group-append ml-3">
<!-- <label>Sort by &nbsp;</label> -->
<select type="text" [(ngModel)] = 'SortByParam'>
    <option value="City">City</option>
    <option value="Price">Price</option>
</select>
<button type="button" class="btn btn-outline-primary" (click)="onSortDirection()">
  Sort
</button>
</div>
</div>
<div class="row">
  <div *ngFor="let property of properties |filter: SearchCity: 'City' |sort:[SortByParam, SortDirection]"
    class="shadow-lg col-sm-4 p-3">
    <app-property-card [property]="property"></app-property-card>
  </div>
</div>


